# Checkpoints / data
data/
output/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.cache

# Virtual environments (if using venv/conda)
env/
venv/
.venv/

# OS files
.DS_Store

# Editor/Swap Files
*.swp
*~
